extends ../layout

block head

block headerleft
	a(data-role="button", data-rel="back", data-theme="c", data-icon="arrow-l") Tillbaka

block headerright
	a(data-role="button", data-rel="back", data-theme="c", data-icon="check") Spara

block content
		div.ui-grid-a
			div.ui-block-a.narrow 
				h4 Grupp
			div.ui-block-b.wide 
				h4 Tidkanal
			- each light in lights
					div.ui-block-a.narrow 
						h4= light.name + " - Vardag"
					div.ui-block-b.wide 
						fieldset(data-role="controlgroup", data-type="horizontal")
							input(type="checkbox", name=light.id + "_week", id=light.id + "_week_morning", value="morning")
							label(for=light.id + "_week_morning") Morgon
							input(type="checkbox", name=light.id + "_week", id=light.id + "_week_am", value="am")
							label(for=light.id + "_week_am") Förm.
							input(type="checkbox", name=light.id + "_week", id=light.id + "_week_day", value="day")
							label(for=light.id + "_week_day") Dag
							input(type="checkbox", name=light.id + "_week", id=light.id + "_week_pm", value="pm")
							label(for=light.id + "_week_pm") Efterm.
							input(type="checkbox", name=light.id + "_week", id=light.id + "_week_evening", value="evening")
							label(for=light.id + "_week_evening") Kväll
							input(type="checkbox", name=light.id + "_week", id=light.id + "_week_night", value="night")
							label(for=light.id + "_week_night") Natt
					div.ui-block-a.narrow 
						h4= light.name + " - Helg"
					div.ui-block-b.wide
						fieldset(data-role="controlgroup", data-type="horizontal")
							input(type="checkbox", name=light.id + "_weekend", id=light.id + "_weekend_morning", value="morning")
							label(for=light.id + "_weekend_morning") Morgon
							input(type="checkbox", name=light.id + "_weekend", id=light.id + "_weekend_am", value="am")
							label(for=light.id + "_weekend_am") Förm.
							input(type="checkbox", name=light.id + "_weekend", id=light.id + "_weekend_day", value="day")
							label(for=light.id + "_weekend_day") Dag
							input(type="checkbox", name=light.id + "_weekend", id=light.id + "_weekend_pm", value="pm")
							label(for=light.id + "_weekend_pm") Efterm.
							input(type="checkbox", name=light.id + "_weekend", id=light.id + "_weekend_evening", value="evening")
							label(for=light.id + "_weekend_evening") Kväll
							input(type="checkbox", name=light.id + "_weekend", id=light.id + "_weekend_night", value="night")
							label(for=light.id + "_weekend_night") Natt
		